#most_viewed #head {
    margin-top: 20px;
    display: flex;
    border-bottom: 2px solid rgb(211, 208, 208);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#most_viewed #head>h4 {
    border-bottom: 2px solid rgb(245, 229, 5);
    margin-bottom: -2px;
    padding-bottom: 15px;
}

#most_viewed #head>a {
    font-size: 14px;
}

#m-v-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 30px;
}

#m-v-content>div>p {
    margin-top: 0px;
    font-size: 20px;
}

#m-v-content>div>img {
    width: 100%;

}