#change1>div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px 0px;
  font-size: 21px;
}

#change1>div:first-child>p {
  padding: 5px;
  font-weight: bold;
  color: rgb(46, 46, 46);
}

#change1>div>img {
  width: 100%;
}


#change1>div+div {
  display: flex;
  gap: 10px;
  padding: 10px;
  font-size: 20px;
  align-items: initial;
}

#change1>div+div>p {
  margin-top: 0px;
}

#change1>div+div>img {
  width: 30%;
}